<div class="card scard" style="background: <%= tile['background-color'] %>; width: <%= tile.width %>; height: <%= tile.height %>">
	<div class="card-content" style="color: <%= tile['text-color'] %>">
		<span class="card-title">
			<%- tile.name %>
		</span>

		<p>
			<%- tile.desc %>
		</p>
	</div>

	<div class="card-action">
		<a href="<%= tile.href %>" style="color: <%= tile.color %>">
			<%- tile["href-text"] %>
		</a>
	</div>
</div>
